In [3]:
import pandas as pd
import requests

In [7]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=bec0154cc7c620f32ca7f0faa37ff529&language=en-US&page=1')

In [17]:
df = pd.DataFrame(response.json()['results'])[['id','title','release_date','popularity','vote_average','vote_count']]

In [25]:
df

,id,title,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,1994-09-23,184.509,8.708,27728
1,238,The Godfather,1972-03-14,179.116,8.688,21035
2,240,The Godfather Part II,1974-12-20,111.875,8.570,12699
3,424,Schindler's List,1993-12-15,116.249,8.567,16148
4,389,12 Angry Men,1957-04-10,89.407,8.547,8892
5,129,Spirited Away,2001-07-20,84.477,8.538,16828
6,19404,Dilwale Dulhania Le Jayenge,1995-10-20,39.329,8.521,4464
7,155,The Dark Knight,2008-07-16,158.077,8.519,33420
8,497,The Green Mile,1999-12-10,159.259,8.506,17806
9,496243,Parasite,2019-05-30,118.889,8.502,18664
10,680,Pulp Fiction,1994-09-10,110.881,8.489,28327
11,372058,Your Name.,2016-08-26,75.229,8.488,11589
12,122,The Lord of the Rings: The Return of the King,2003-12-17,158.909,8.481,24689
13,13,Forrest Gump,1994-06-23,106.745,8.469,27842
14,429,"The Good, the Bad and the Ugly",1966-12-22,81.623,8.461,8807
15,769,GoodFellas,1990-09-12,65.554,8.457,13118
16,346,Seven Samurai,1954-04-26,32.344,8.455,3795
17,157336,Interstellar,2014-11-05,238.354,8.500,36513
18,12477,Grave of the Fireflies,1988-04-16,0.053,8.400,5720
19,637,Life Is Beautiful,1997-12-20,46.819,8.447,13192

In [27]:
df = pd.DataFrame()

In [29]:
df

Empty DataFrame
Columns: []
Index: []

In [35]:
for i in range(1,499):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=bec0154cc7c620f32ca7f0faa37ff529&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json().get('results', []), columns=['id', 'title', 'release_date', 'popularity', 'vote_average', 'vote_count'])
    df = pd.concat([df, temp_df], ignore_index=True)

In [37]:
df

,id,title,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,1994-09-23,184.509,8.708,27728
1,238,The Godfather,1972-03-14,179.116,8.688,21035
2,240,The Godfather Part II,1974-12-20,111.875,8.570,12699
3,424,Schindler's List,1993-12-15,116.249,8.567,16148
4,389,12 Angry Men,1957-04-10,89.407,8.547,8892
...,...,...,...,...,...,...
9955,580,Jaws: The Revenge,1987-07-17,16.854,4.100,1064
9956,536869,Cats,2019-12-19,14.396,4.100,982
9957,8046,Gigli,2003-08-01,12.037,4.100,463
9958,681887,Cosmic Sin,2021-03-12,16.921,4.013,550
9959,17473,The Room,2003-06-27,13.508,4.009,1401

In [41]:
df.shape

(9960, 6)

In [43]:
df.to_csv('movies.csv')